/**{
  margin: 0px;
  padding: 0px;
  box-sizing:  border-box;  
}*/
h1 {
    font-size: 65px;
}
h2{
    font-size: 40px;
}
nav {
    color: rgb(112, 4, 212);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 16vh;
    background-color: rgb(209, 145, 209);
    font-family: 'Allura', cursive;
    font-size: 30px;
}

.logo h3 {
    text-align: center;
    color: rgb(82, 35, 235);
    font-size: 45px;
}

.nav-links li {
    list-style: none;
}

.nav-links {
    font-family: fantasy;
    display: flex;
    width: 40%;
    justify-content: space-around;
    font-size: 12px;
}
.nav-links a {
    text-decoration: none;
    color: rgb(76, 7, 141);
    font-weight: bold;
    font-size: 22px;
}

.burger {
    display: none;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(82, 35, 235);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    .nav-links{
    width: 60%;
    font-family: fantasy;
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
     .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgb(7, 179, 209);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
}
.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line3{
    transform: rotate(-45deg) translate(-5px,6px);
}